<%- include('./partials/header.ejs') %>

<title>Document</title>
</head>
<body>
    <div class="container">
        <div class="add">
            <h1 class="h-1">Add New Student</h1>
            <div>
                <form action="" method="post">
                    <div class="m-5">
                        <label for="name" id="name-label">Name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="m-5" >
                        <label for="age" id="age-label">Age</label>
                        <input type="number" name="age" id="age" required min="18" max="60">
                    </div>
                    <div class="m-5">
                        <label for="fees" id="fee-label">Fees</label>
                        <input type="number" name="fees" id="fees" required min="5000">
                    </div>
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        <div class="list">
            <h1 class="h-2">List of Students</h1>
            <table>
                <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Fees</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                    <% var i = 1 %>
                    <% result.forEach((item) => { %>
                       <tr>
                        <td><%= i++%></td>
                        <td><%= item.name %></td>
                        <td><%= item.age %></td>
                        <td><%= item.fees %></td>
                        <td>
                            <form action="/edit/<%= item._id%>" method="get" class="form">
                                <button type="submit" class="button">
                                    <i class="fas fa-pencil-square"></i>
                                </button>
                            </form>
                            
                            <form action="/delete/<%= item._id%>" method="post" class="form">
                                <button type="submit" class="button">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                       </tr>
                <%    }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        
    </div>
<%- include('./partials/footer.ejs') %>
